ABOUT-NLS
intl
aclocal.m4
config.guess
config.sub
compile
ltconfig
ltmain.sh
config.h.in
stamp-h.in
Makefile.in
Makefile
configure
config.log
config.h
config.cache
libtool
config.status
stamp-h
libgda.spec
stamp.h
intltool-*
control-stamp
configure-stamp
build-stamp
install-sh
missing
mkinstalldirs
INSTALL
autom4te.cache
stamp-h1
*.pc
depcomp
.libs
.deps
*.o
*.lo
*.loT
*.la
*.gmo
*.mo
*.pot
Makefile
Makefile.in
Makefile.in.in
POTFILES
.intltool-merge-cache
*~
stamp-it
.gdb_history
keywords_hash.c
mkkeywordhash
gtk-doc.make
xmldocs.make
omf.make
ylwrap
*.log
*.trs
test-driver
