# This file is a template, and might need editing before it works on your project.
# use the official gcc image, based on debian
# can use verions as well, like gcc:5.2
# see https://hub.docker.com/_/gcc/
image: ubuntu:devel

services:
  - postgres:latest
  - mysql:5.7

stages:
     - build

variables:
  POSTGRES_DB: test
  POSTGRES_USER: test
  POSTGRES_PASSWORD: test1
  POSTGRES_HOST: postgres
  MYSQL_DATABASE: test
  MYSQL_ROOT_PASSWORD: test1
  MYSQL_USER: root
  MYSQL_HOST: mysql
  G_MESSAGES_DEBUG: all
  DEPENDENCIES: gcc gettext gtk-doc-tools make autoconf
                meson ninja-build
                libgtk-3-dev libxml2-dev gnome-common
                libsqlite3-dev
                gobject-introspection libssl-dev libmysqlclient-dev
                default-libmysqld-dev libldap2-dev libpq-dev
                libgtksourceview-3.0-dev
                libgdk-pixbuf2.0-dev
                libgraphviz-dev
                libisocodes-dev
                libxslt1-dev
                libjson-glib-dev
                libgcrypt20-dev
                libldap2-dev
                libgoocanvas-2.0-dev
                libhsqldb1.8.0-java
                default-jdk
                yelp-tools
                iso-codes
                libgirepository1.0-dev
                libgee-0.8-dev
                valadoc
                libgladeui-dev
                postgresql-client
                postgresql-client-common
                libsqlcipher-dev

  GIT_SUBMODULE_STRATEGY: normal

before_script:
  - export DEBIAN_FRONTEND=noninteractive
  - apt update && apt -y install $DEPENDENCIES

autotools_build:
  stage: build
  script:
  - ./autogen.sh
  - make
  - broadwayd &
  - GDK_BACKEND=broadway make check
  - GDK_BACKEND=broadway make distcheck
  artifacts:
    when: on_failure
    paths:
    - tests/test-suite.log
    - libgda/test-suite.log
    - tests/data-models/test-suite.log
    - tests/meta-store/test-suite.log
    - tests/value-holders/test-suite.log
    - tests/parser/test-suite.log
    - tests/providers/test-suite.log
    expire_in: 1 week

