<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="BINDIR">
      <Component Id="BDB_DLL" Guid="5b7d464e-b07f-440c-9d39-38adaab6b769">
        <File Id="bdb_file0" DiskId="1" Name="libdb47.dll" Source="../depend/bdb/bin/libdb47.dll" />
        <File Id="bdb_file1" DiskId="1" Name="msvcp80.dll" Source="../depend/bdb/bin/msvcp80.dll" />
        <File Id="bdb_file2" DiskId="1" Name="msvcr80.dll" Source="../depend/bdb/bin/msvcr80.dll" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
