<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="directory0" Name="share">
        <Directory Id="directory4" Name="libgda-4.0">
          <Component Id="GDA_SHARE" DiskId="1" Guid="b16a06f1-4342-4858-a9b7-1c9be753d53b">
            <File Id="share_file167" Name="bdb_specs_dsn.xml" Source="../share/libgda-4.0/bdb_specs_dsn.xml" />
            <File Id="share_file168" Name="information_schema.xml" Source="../share/libgda-4.0/information_schema.xml" />
            <File Id="share_file169" Name="mdb_specs_dsn.xml" Source="../share/libgda-4.0/mdb_specs_dsn.xml" />
            <File Id="share_file170" Name="mysql_specs_add_column.xml" Source="../share/libgda-4.0/mysql_specs_add_column.xml" />
            <File Id="share_file171" Name="mysql_specs_create_db.xml" Source="../share/libgda-4.0/mysql_specs_create_db.xml" />
            <File Id="share_file172" Name="mysql_specs_create_index.xml" Source="../share/libgda-4.0/mysql_specs_create_index.xml" />
            <File Id="share_file173" Name="mysql_specs_create_table.xml" Source="../share/libgda-4.0/mysql_specs_create_table.xml" />
            <File Id="share_file174" Name="mysql_specs_create_view.xml" Source="../share/libgda-4.0/mysql_specs_create_view.xml" />
            <File Id="share_file175" Name="mysql_specs_drop_column.xml" Source="../share/libgda-4.0/mysql_specs_drop_column.xml" />
            <File Id="share_file176" Name="mysql_specs_drop_db.xml" Source="../share/libgda-4.0/mysql_specs_drop_db.xml" />
            <File Id="share_file177" Name="mysql_specs_drop_index.xml" Source="../share/libgda-4.0/mysql_specs_drop_index.xml" />
            <File Id="share_file178" Name="mysql_specs_drop_table.xml" Source="../share/libgda-4.0/mysql_specs_drop_table.xml" />
            <File Id="share_file179" Name="mysql_specs_drop_view.xml" Source="../share/libgda-4.0/mysql_specs_drop_view.xml" />
            <File Id="share_file180" Name="mysql_specs_dsn.xml" Source="../share/libgda-4.0/mysql_specs_dsn.xml" />
            <File Id="share_file181" Name="mysql_specs_rename_table.xml" Source="../share/libgda-4.0/mysql_specs_rename_table.xml" />
            <File Id="share_file182" Name="postgres_specs_add_column.xml" Source="../share/libgda-4.0/postgres_specs_add_column.xml" />
            <File Id="share_file183" Name="postgres_specs_create_db.xml" Source="../share/libgda-4.0/postgres_specs_create_db.xml" />
            <File Id="share_file184" Name="postgres_specs_create_index.xml" Source="../share/libgda-4.0/postgres_specs_create_index.xml" />
            <File Id="share_file185" Name="postgres_specs_create_table.xml" Source="../share/libgda-4.0/postgres_specs_create_table.xml" />
            <File Id="share_file186" Name="postgres_specs_create_view.xml" Source="../share/libgda-4.0/postgres_specs_create_view.xml" />
            <File Id="share_file187" Name="postgres_specs_drop_column.xml" Source="../share/libgda-4.0/postgres_specs_drop_column.xml" />
            <File Id="share_file188" Name="postgres_specs_drop_db.xml" Source="../share/libgda-4.0/postgres_specs_drop_db.xml" />
            <File Id="share_file189" Name="postgres_specs_drop_index.xml" Source="../share/libgda-4.0/postgres_specs_drop_index.xml" />
            <File Id="share_file190" Name="postgres_specs_drop_table.xml" Source="../share/libgda-4.0/postgres_specs_drop_table.xml" />
            <File Id="share_file191" Name="postgres_specs_drop_view.xml" Source="../share/libgda-4.0/postgres_specs_drop_view.xml" />
            <File Id="share_file192" Name="postgres_specs_dsn.xml" Source="../share/libgda-4.0/postgres_specs_dsn.xml" />
            <File Id="share_file193" Name="postgres_specs_rename_table.xml" Source="../share/libgda-4.0/postgres_specs_rename_table.xml" />
            <File Id="share_file194" Name="sqlite_specs_add_column.xml" Source="../share/libgda-4.0/sqlite_specs_add_column.xml" />
            <File Id="share_file195" Name="sqlite_specs_create_db.xml" Source="../share/libgda-4.0/sqlite_specs_create_db.xml" />
            <File Id="share_file196" Name="sqlite_specs_create_index.xml" Source="../share/libgda-4.0/sqlite_specs_create_index.xml" />
            <File Id="share_file197" Name="sqlite_specs_create_table.xml" Source="../share/libgda-4.0/sqlite_specs_create_table.xml" />
            <File Id="share_file198" Name="sqlite_specs_create_view.xml" Source="../share/libgda-4.0/sqlite_specs_create_view.xml" />
            <File Id="share_file199" Name="sqlite_specs_drop_db.xml" Source="../share/libgda-4.0/sqlite_specs_drop_db.xml" />
            <File Id="share_file200" Name="sqlite_specs_drop_index.xml" Source="../share/libgda-4.0/sqlite_specs_drop_index.xml" />
            <File Id="share_file201" Name="sqlite_specs_drop_table.xml" Source="../share/libgda-4.0/sqlite_specs_drop_table.xml" />
            <File Id="share_file202" Name="sqlite_specs_drop_view.xml" Source="../share/libgda-4.0/sqlite_specs_drop_view.xml" />
            <File Id="share_file203" Name="sqlite_specs_dsn.xml" Source="../share/libgda-4.0/sqlite_specs_dsn.xml" />
            <File Id="share_file204" Name="sqlite_specs_rename_table.xml" Source="../share/libgda-4.0/sqlite_specs_rename_table.xml" />
          </Component>
          <Directory Id="directory5" Name="dtd">
            <Component Id="GDA_DTD" DiskId="1" Guid="b50b1027-9ad6-4174-98fa-a824a6ccd066">
              <File Id="share_file205" Name="libgda-array.dtd" Source="../share/libgda-4.0/dtd/libgda-array.dtd" />
              <File Id="share_file206" Name="libgda-paramlist.dtd" Source="../share/libgda-4.0/dtd/libgda-paramlist.dtd" />
              <File Id="share_file207" Name="libgda-server-operation.dtd" Source="../share/libgda-4.0/dtd/libgda-server-operation.dtd" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
