<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="BINDIR">
      <Component Id="POSTGRES_DLL" DiskId="1" Guid="d86aa3e4-8ca7-4786-8002-c97da597586e">
        <File Id="postgres_file0" DiskId="1" Name="libpq.dll" Source="../depend/pgsql/bin/libpq.dll" />
        <File Id="postgres_file1" DiskId="1" Name="comerr32.dll" Source="../depend/pgsql/bin/comerr32.dll" />
        <File Id="postgres_file2" DiskId="1" Name="gssapi32.dll" Source="../depend/pgsql/bin/gssapi32.dll" />
	<!--<File Id="postgres_file3" DiskId="1" Name="iconv.dll" Source="../depend/pgsql/bin/iconv.dll" />-->
        <File Id="postgres_file4" DiskId="1" Name="k5sprt32.dll" Source="../depend/pgsql/bin/k5sprt32.dll" />
        <File Id="postgres_file5" DiskId="1" Name="krb5_32.dll" Source="../depend/pgsql/bin/krb5_32.dll" />
        <File Id="postgres_file6" DiskId="1" Name="libeay32.dll" Source="../depend/pgsql/bin/libeay32.dll" />
        <File Id="postgres_file7" DiskId="1" Name="libiconv2.dll" Source="../depend/pgsql/bin/libiconv2.dll" />
        <File Id="postgres_file8" DiskId="1" Name="libintl3.dll" Source="../depend/pgsql/bin/libintl3.dll" />
        <File Id="postgres_file9" DiskId="1" Name="msvcr71.dll" Source="../depend/pgsql/bin/msvcr71.dll" />
        <File Id="postgres_file10" DiskId="1" Name="pgaevent.dll" Source="../depend/pgsql/bin/pgaevent.dll" />
        <File Id="postgres_file11" DiskId="1" Name="ssleay32.dll" Source="../depend/pgsql/bin/ssleay32.dll" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
