html
xml
html-build.stamp
html.stamp
libgda-4.0-decl-list.txt
libgda-4.0-decl.txt
libgda-4.0-undocumented.txt
libgda-4.0-unused.txt
libgda-4.0.args
libgda-4.0.hierarchy
libgda-4.0.signals
scan-build.stamp
sgml-build.stamp
sgml.stamp
tmpl-build.stamp
tmpl.stamp
.libs
libgda-4.0.prerequisites
libgda-4.0-decl.txt.bak
libgda-4.0.interfaces
libgda-4.0-decl-list.txt.bak
libgda-4.0.types
libgda-4.0-overrides.txt
libgda-4.0-doc.pdf
pdf-build.stamp
libgda-4.0-undeclared.txt
libgda-4.0-unused.sgml
version.xml
*.bak