html
html-build.stamp
html.stamp
libgda-6.0-decl-list.txt
libgda-6.0-decl.txt
libgda-6.0-undocumented.txt
libgda-6.0-unused.txt
libgda-6.0.args
libgda-6.0.hierarchy
libgda-6.0.signals
scan-build.stamp
sgml-build.stamp
sgml.stamp
tmpl-build.stamp
tmpl.stamp
.libs
libgda-6.0.prerequisites
libgda-6.0-decl.txt.bak
libgda-6.0.interfaces
libgda-6.0-decl-list.txt.bak
libgda.types
libgda-6.0.types
libgda-6.0-overrides.txt
libgda-6.0-doc.pdf
pdf-build.stamp
libgda-6.0-undeclared.txt
libgda-6.0-unused.sgml
version.xml
builddate.xml
*.bak
setup-build.stamp
