#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=1

CTRL=debian/control
NONFREE=debian/control-nonfree
ifeq ($(shell ls -1 CVS), CVS)
	configure="./configure"
else
	configure="./autogen.sh"
endif

add_flags=$(GDA_WITH_PRIMEBASE) \
	$(GDA_WITH_SYBASE) \
	$(GDA_WITH_TDS)

add_files=gda-primebase.files gda-primebase.postinst \
	gda-sybase.files gda-sybase.postinst \
	gda-tds.files gda-tds.postinst

constrol: control-stamp
control-stamp:
	cp $(CTRL).orig $(CTRL)
	@ifneq ($(strip $(GDA_WITH_PRIMEBASE)),)
		cat debian/control-nonfree/control.gda-primebase >> $(CTRL)
		cp $(NONFREE)/gda-primebase.* debian/
	@endif
	@ifneq ($(strip $(GDA_WITH_SYBASE)),)
		cat debian/control-nonfree/control.gda-sybase >> $(CTRL)
		cp $(NONFREE)/gda-sybase.* debian/
	@endif
	@ifneq ($(strip $(GDA_WITH_TDS)),)
		cat debian/control-nonfree/control.gda-tds >> $(CTRL)
		cp $(NONFREE)/gda-tds.* debian/
	@endif
	touch control-stamp

configure: control-stamp configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	$(configure) --prefix=/usr \
		--mandir=/usr/share/man \
		--infodir=/usr/share/info \
		--with-mysql=yes \
		--with-postgres=yes \
		--with-odbc=yes \
		$(add_flags)

	touch configure-stamp

build: control-stamp configure-stamp build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp control-stamp
	$(foreach file,$(add_files),test -e debian/$(file) && rm -f debian/$(file) || true &&) true

	# Add here commands to clean up after the build process.
	-$(MAKE) distclean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/tmp.
	$(MAKE) install prefix=`pwd`/debian/tmp/usr GDA_oafinfodir=`pwd`/debian/tmp/usr/share/oaf

	dh_movefiles

	-find debian/tmp -type d | sort -r | xargs rmdir 2>&1 > /dev/null

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
#	dh_testversion
	dh_testdir
	dh_testroot

#	dh_installdebconf	
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installemacsen
#	dh_installpam
#	dh_installinit
#	dh_installcron
	dh_installmanpages
	dh_installinfo
	dh_undocumented -plibgda-dev gda-buildclient.1 gda-buildserver.1 gda-config.1 gda-run.1
	dh_undocumented -pgda-mysql gda-mysql-srv.1
	dh_undocumented -pgda-postgres gda-postgres-srv.1
	dh_undocumented -pgda-odbc gda-odbc-srv.1
	@ifneq ($(strip $(GDA_WITH_PRIMEBASE)),)
		dh_undocumented -pgda-primebase gda-primebase-srv.1
	@endif
	@ifneq ($(strip $(GDA_WITH_SYBASE)),)
		dh_undocumented -pgda-sybase gda-sybase-srv.1
	@endif
	@ifneq ($(strip $(GDA_WITH_TDS)),)
		dh_undocumented -pgda-tds gda-tds-srv.1
	@endif
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	# You may want to make some executables suid here.
	dh_suidregister
	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
