#gdaui-transparent-background {
    background-color : transparent;
}

GdauiEntryShell {
    -GtkArrow-arrow-scaling: 0.4;
    margin: 0;
    padding: 0;
    border-style: none;
    border-width: 0;
    -GtkButton-default-border: 0;
    -GtkButton-default-outside-border: 0;
    -GtkButton-inner-border: 0;
    background-color : transparent;
}

GdauiCombo.gdaui-combo-as-list {
    -GtkComboBox-appears-as-list : true;
}

GdauiCombo.gdaui-combo-normal {
    -GtkComboBox-appears-as-list : false;
}

GdauiDataProxyInfo * {
    -GtkToolbar-shadow-type : none;
    -GtkSpinButton-shadow-type : none;
    border-style: none;
    border-width: 0px;
}

GdauiRtEditor GtkToolbar {
    -GtkToolbar-shadow-type : none;
    border-style: none;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
}

GtkPaned.paned-no-border {
    -GtkPaned-handle-size: 0;
}