#gdaui-transparent-background {
    background-color : transparent;
}

.transparent-background {
    background-color : transparent;
}

toolbar * {
    border-style: none;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
}


.paned-no-border {
    border-style: none;
}

.action-entry {
    padding : 0;
}

@define-color gdaui_inv_color lighter (rgba (233,185,110,1));

.invalid-entry #invalid-label {
  color: darker (@selected_fg_color);
  background-color: @gdaui_inv_color;
  border-width:1px;
  border-style:solid;
  border-radius:3px;
  border-color: @gdaui_inv_color;
}
.invalid-entry GtkEntry, .invalid-entry GtkButton, .invalid-entry GtkScrolledWindow, .invalid-entry GtkSwitch {
  border-radius:3px;
  border-color: @gdaui_inv_color;
  border-width:1px;
  border-style:solid;
}
.invalid-entry GtkLabel {
  color: @gdaui_inv_color;
}

.required-label GtkLabel {
  font-weight: bold;
}

.non-invalid {
  background-color: red;
}
.is-default {
  background-color: blue;
}
.is-null {
  background-color: green;
}

.small-text {
  font-size: 80%;
}

/* For SQL query editor */
.editor-history {
  background-color: lighter(currentColor);
}